body {
    font-family: sans-serif;
}

.flex-container {
    height: calc(100vh - 16px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 10px;
    color: #fff;
    font-size: 16px;
}

.flex-item:nth-child(1) {
    background-color: #ff0000;
    flex-shrink: 1;
}

.flex-item:nth-child(2) {
    background-color: #008000;
}

.flex-item:nth-child(3) {
    background-color: #0000ff;
}
